<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
		<title>Good Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/assets/js/burgers.js"></script>
		<img src="https://www.google.com/search?q=burger+png+images&tbm=isch&source=iu&ictx=1&fir=XfsRyn8kPJkOjM%253A%252Cx2YcUyiEa6GZEM%252C_&usg=AI4_-kQtCmkK2pW6JuppwRAywM56GB68Qw&sa=X&ved=2ahUKEwjUxevihcreAhUFiIMKHeK9CLgQ9QEwAnoECAYQCA#imgrc=XfsRyn8kPJkOjM:">

	</head>
	<body>
		{{{ body }}}
	</body>
</html>
